.edit-post
  %h1.text-center Редактировать новость
  = render 'form', post: @post do |f|
    = f.submit 'Сохранить', class: 'btn btn-primary'
    = link_to 'Показать полностью', @post, class: 'btn btn-outline-info'
    = link_to 'Назад', posts_path, class: 'back btn btn-outline-dark'
