.new-post
  %h1.text-center Добавить новость
  = render 'form', post: @post do |f|
    = f.submit 'Добавить', class: 'btn btn-primary'
    = link_to 'Назад', posts_path, class: 'back btn btn-default'
