.comments {

  h4 {
    padding-top: 50px;
    font-weight: 900;
    text-transform: uppercase;
  }

  textarea {
    resize: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }

  .actions {
    .comment {
      background-color: red;
      border-color: inherit;
      border-radius: 0px;
      margin-bottom: 20px;
      color: white;
    }
  }
}