.comments {
  .panel-heading {
    .delete-comment {
      float: right;
      color: white;
    }
  }

  hr {
    border-top: 1px solid grey;
  }

  h4 {
    padding-top: 50px;
    font-weight: 900;
    text-transform: uppercase;
  }

  textarea {
    resize: none;
  }

  .actions {
    .comment {
      border-color: inherit;
      margin-bottom: 20px;
      color: white;
    }
  }
}