.new-post, .edit-post, .show-post {
  .actions {
    .btn-like, .back {
      float: right;
    }
  }

  textarea {
    resize: none;
  }
}

.edit-post {
  .actions {
    .back {
      margin-left: 5px;
    }

  }
}

.show-post, .index-post {
  .btn-like {
    cursor: pointer;

    .heart, .heart:before, .heart:after {
      background-color: darkgrey;
    }

    .heart {
      &:hover, &:hover:before, &:hover:after {
        background-color: darkgrey;

      }
    }
  }

  .active-like {
    .heart, .heart:before, .heart:after {
      background-color: red;
    }

    .heart {
      &:hover, &:hover:before, &:hover:after {
        background-color: #730E15;
      }
    }
  }

  .heart {
    display: inline-block;
    height: 12px;
    transform: rotate(-45deg);
    width: 12px;

    &:hover, &:hover:before, &:hover:after {
      height: 15px;
      width: 15px;
    }

    &:before, &:after {
      content: "";
      border-radius: 50%;
      height: 12px;
      position: absolute;
      width: 12px;
    }

    &:before {
      top: -7px;
    }

    &:after {
      right: -7px;
    }
  }

  .like-count {
    padding-left: 8px;
    font-size: 18px;
  }

  .date-time, .author, .category {
    display: block;
    color: #afafaf;
    font-size: 12px;
  }

  p {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.index-post  {
  .post {
    border-top: 1px solid #0095ff;
    margin-top: 10px;
    padding: 10px 0;

    .post-info, .post-like {
      display: inline-block;
    }

    .post-like {
      float: right;
    }
  }

  hr {
    border-bottom: 2px solid #3194E7;
    width: 50%;
    margin: 0 auto;
  }

  .title {
    text-transform: uppercase;
    font-family: "Noto Sans Mono CJK JP Bold";
    color: #ff6c00;
  }

  .actions {
    text-align: right;
  }
}