.new-post, .edit-post, .show-post {
  .actions {
    .back {
      float: right;
    }
  }

  textarea {
    resize: none;
  }
}

.edit-post {
  .actions {
    .btn-success {
      margin-left: 5px;
    }
  }
}

.show-post, .index-post {
  .date-time, .author {
    display: block;
    color: #afafaf;
    font-size: 12px;
  }

  p {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.index-post {
  .post {
    border-top: 1px solid grey;
    margin-top: 10px;
    padding: 10px 0;
  }

  .title {
    text-transform: uppercase;
    font-family: "Noto Sans Mono CJK JP Bold";
  }

  .new {
    background-color: coral;
    border-color: #ffffff;

    &:active {
      background-color: coral;
      color: #ffffff;
    }
  }

  .actions {
    text-align: right;
  }

  .edit {
    background-color: blueviolet;
    border-color: #ffffff;

    &:active {
      background-color: blueviolet;
      color: #ffffff;
    }
  }
}