.new-post, .edit-post, .show-post {
  .actions {
    .btn-like, .back {
      float: right;
    }
  }

  textarea {
    resize: none;
  }
}

.show-post, .index-post {
  .btn-like {
    cursor: pointer;

    .heart, .heart:before, .heart:after {
      background-color: darkgrey;
    }

    .heart {
      &:hover, &:hover:before, &:hover:after {
        background-color: darkgrey;
      }
    }
  }

  .active-like {
    .heart, .heart:before, .heart:after {
      background-color: red;
    }

    .heart {
      &:hover, &:hover:before, &:hover:after {
        background-color: #730E15;
      }
    }
  }

  .heart {
    display: inline-block;
    height: 12px;
    transform: rotate(-45deg);
    width: 12px;

    &:hover, &:hover:before, &:hover:after {
      height: 15px;
      width: 15px;
    }

    &:before, &:after {
      content: "";
      border-radius: 50%;
      height: 12px;
      position: absolute;
      width: 12px;
    }

    &:before {
      top: -7px;
    }

    &:after {
      right: -7px;
    }
  }

  .like-count {
    padding-left: 8px;
    font-size: 18px;
  }

  .date-time, .author, .category {
    display: block;
    color: #afafaf;
    font-size: 12px;
  }

  p {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}


a {
  color: #337ab7;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #23527c;
    text-decoration: underline;
  }
}

.index-post  {
  .post {
    border-top: 1px solid #0095ff;
    margin-top: 10px;
    padding: 10px 0;

    .post-info, .post-like {
      display: inline-block;
    }

    .post-like {
      float: right;
    }


  }

  hr {
    border-bottom: 2px solid #3194E7;
    width: 50%;
    margin: 0 auto;
  }

  .title {
    text-transform: uppercase;
    font-family: "Noto Sans Mono CJK JP Bold";
    color: #337ab7;
  }

  .actions {
    text-align: right;
  }
}

.image-show {
  display: block;
  margin-bottom: 2em;
}

.thumb {
  float: left;
  margin-right: 1em;
}

.show-post {
  .post-info {
    display: inline-block;
    margin-bottom: 1em;
  }
}

.index-post {
  .post-info {
    display: inline-block;
  }

  .post-like {
    float: right;
    padding-top: 15px;
  }
}

.show-post {
  .btn-like {
    float: right;
    padding-top: 15px;
  }
}

.add-image {
  width: 135px;
}

.index-post {
  h1 {
    font-size: 2.1rem;
  }
}

  .actions {
    .btn-outline-info {
      float: right;
      margin-left: 5px;
    }

    .btn-outline-success {
      margin-bottom: 15px;
    }
  }

  .container {
    top: 7.5rem;
  }

  .pagination {
    padding-bottom: 20px;
  }

//медиа-запросы

@media (max-width: 768px) {
  .thumb {
    padding-right: 45px;
    padding-left: 45px;
    margin-bottom: 12px;
  }
}

  @media (max-width: 768px) {
    .new {
      margin-top: 10px;
    }
  }

@media (max-width: 768px) {
  .edit .delete {
    margin-right: 27px;
    margin-left: 27px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .btn-outline-success {
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media (max-width: 768px) {
  .pagination ul {
    padding-left: 0;
    padding-top: 8px;
  }
}

@media (max-width: 768px) {
  .show-post {
    .btn-like {
      padding-top: 0px !important;
      margin-top: -38px;
    }
  }
}

@media (max-width: 768px) {
  .edit-post h1 {
    text-align: center;
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .btn-outline-info {
    max-width: 167px;
    padding: 6px;
    word-break: break-all;
    height: 37px;
  }
}

@media (max-width: 768px) {
  .back {
    display: none;
  }
}

@media (max-width: 768px) {
  .add-image {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .btn-outline-dark {
    float: right;
  }
}

@media (max-width: 768px) {
  .new-post {
    .text-center {
      font-size: 32px;
      text-align: center;
    }
  }
}