.auth-form {
  padding: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: white;
  color: #666666;

  .form-group {
    input {
      background-color: #fafafa;
      border: 0;
      border-radius: 0;
      border-bottom: 2px solid #0095ff;
      color: #0095ff;
    }
  }

  .text-center {
    text-align: center !important;
  }

  .auth-btn-primary {
    color: #ffffff;
    background-color: #0095ff;
    float: right;

    &:hover {
      background-color: #0077cc;
    }
  }

  .mt-3 {
    margin-top: 1rem !important;
    display: flex;
    justify-content: center;
  }

  .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #0095ff !important;
    margin-right: 5px;
  }
  .form-control:focus {
    box-shadow: none;
  }

  .form-actions {
    display: flex;
  }

  .text-muted {
    color: #6c757d !important;
  }

  .form-text {
    display: block;
    margin-top: 0.25rem;
  }

  .img-logo {
    height: 96px;
    width: 96px;
    border-radius: 50%;
  }
}

.col-lg-6 {
  hr {
    border-top: 1px solid #0095ff;
  }
}
.actions {
  .new {
    float: right;
  }
}

@media (max-width: 768px) {
  .dropdown {
    padding-left: 50px;
    padding-right: 50px;
  }
}
